.header {
  background-color: #191919;
  position: relative;
}
.header__image {
  width: 100px;
  margin-top: 50px;
}

.header__title {
  margin-bottom: 0px;
}

.search__header {
  background-color: #191919;
}

.error__message {
  color: red;
  margin-bottom: 1em;
}

.header__navbar {
  display: flex;
}

.header__link-left {
  position: absolute;
  top: 5px;
  left: 5px;
}

.header__link {
  position: absolute;
  top: 5px;
  right: 5px;
}

.header__button {
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
