.person {
  /* Takes all the children in the person container and puts it on the same line */
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #191919;
}

.person__image {
  max-width: 50px;
  height: auto;
  border-radius: 50%;
}
