@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: inherit;
}
*:before,
*after {
  box-sizing: inherit;
}

html {
  /* font-size is in property that is inherited*/
  font-size: 20px;
}

body {
  /*You can apply multiple style declarations inside of a block */
  color: white;
  background-color: black;
  max-width: 600px;
  text-align: center;
  /* This margin auto trick centers block elements. */
  margin: 0 auto;
  /* font-family: "century gothic", sans-serif; */
  font-family: "PT Sans", sans-serif;
}

label {
  color: #686868;
  text-transform: uppercase;
  font-size: small;
}
a {
  color: white;
}

/* universal link - which is a default state. :link is a pseudo-class.  */
a:link {
  background: transparent;
  color: #21d6fd;
  text-decoration: none;
}

/* Visited link */
a:visited {
  background: transparent;
  color: #21d6fd;
}

/* hovered link */

.welcome-message {
  font-size: 1.25rem;
}

.footer {
  background-color: #21d6fd;
  padding-top: 35px;
  padding-bottom: 35px;
}
.profile {
  background-color: #191919;
  padding-bottom: 50px;
}
.name {
  font-size: 25pt;
}

.home {
  background-color: #191919;
  padding-bottom: 50px;
}

.search {
  background-color: #191919;
  padding-bottom: 50px;
  padding-top: 50px;
}

.search ul {
  padding-left: 0;
}

.favorites {
  background-color: #191919;
  padding-bottom: 10px;
  padding-top: 10px;
}

.home__form {
  padding-top: 20px;
}
